/****CARD 1****/

.card1 {

    cursor: pointer;

    &__container {

        .card1__imgTop {
            border-radius: 15px;
            box-shadow: 0px 9px 6px #ccc;
            width: 400px;
            height: 312;
        }

        .card1__text {
            text-transform: uppercase;
            margin-top: 15px;
            font-size: 26px;
            color: #303133;
            font-weight: bold;

        }

    }
}


/****CARD 2 ****/

.card2 {
    background-color: #fbf5ee;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 19px 9px #ccc;
    width: 290px;
    height: 300px;
    transition: .2s all ease-in;
    cursor: pointer;

    &:hover {
        transform: scale(1.06);
    }

    .card2__container {

        img {
            width: 15em;
        }

        .card2__text {
            text-transform: uppercase;
            margin-top: 15px;
            font-size: 26px;
            color: #303133;
        }

    }
}